@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*, *::before, *::after {box-sizing: border-box; padding: 0; margin: 0}

body {
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: hsl(185, 41%, 84%);
}

img {
  max-width: 100%;
}

.attribution { 
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 400;
  color:  hsl(186, 14%, 43%);
}

.attribution a {
  text-decoration: underline;
  color:blue;
  font-weight: 400;
}

input {
    font-family:'Space Mono', monospace;
    width: 100%;
    background-color: hsl(189, 41%, 97%);
    padding: .5em;
    border-radius: 5px;
    border: none;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25em;
}

input:focus {
    outline-color: hsl(172, 67%, 45%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.logo-container {
    width: 100%;
    display: flex;
    place-items: center;
}

.logo {
    margin: 2em auto;
}

.calculator-container {
    padding: 1.5em;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.input-header {
    color:  hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: .4em;
    font-size: 1.5rem;
}

.number-of-people,
.select-tip {
    margin-top: .5em;
}

.bill-container,
.number-of-people-container {
    position: relative;
}

.error-bill {
    position: absolute;
    right: 0;
    margin-top: -1.5em;
    font-size: .875rem;
    color: red;
    display: none;
}

.error-people {
    position: absolute;
    right: 0;
    margin-top: -1.5em;
    font-size: .875rem;
    color: red;
    display: none;
    outline-color: red;
}

.dollar-icon {
    position: absolute;
    margin: .7em 0 0 .5em
}

.select-grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas:
    'a b'
    'c d'
    'e f';
    gap: .75em;
    margin-bottom: 1.25em;
    cursor: pointer;
}

.box5 {grid-area: a;}
.box10 {grid-area: b;}
.box15 {grid-area: c;}
.box25 {grid-area: d;}
.box50 {grid-area: e;}

.select-grid-box {
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: .5em 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.select-grid-box.active {
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

.custom {
    grid-area: f;
    text-align: right;
    padding: .5em;
    color: hsl(184, 14%, 56%);
    background-color:  hsl(189, 41%, 97%);
    letter-spacing: .15em;
    margin: 0;
}

.custom::-webkit-input-placeholder {
    text-align: center;
}

.second-container {
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 1.25em;
    padding-top: 2.25em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.thead {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 700;
}

.tip-amount {
    color: hsl(172, 67%, 45%);
    font-size: 1.85rem;
    font-weight: 700;
}

.total-amount {
    color: hsl(172, 67%, 45%);
    font-size: 1.85rem;
    font-weight: 700;
}

.tsub {
    color: hsl(184, 14%, 56%);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .2em;
}

.total-container {
    display: flex;
}

.reset {
    background-color: hsl(172, 67%, 45%);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .5em 0;
    font: inherit;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 1.125rem;
    cursor: pointer;
}


@media (min-width: 768px) {

    .custom::placeholder {
        font-size: 1rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .logo-container {
        width: 50%;
    }

    .calculator-container {
        display: flex;
        width: 50%;
        border-radius: 20px;
        margin-top: 0;
        justify-content: space-between;
        gap: 2.5em;
    }
    
    .first-container {
        width: 50%;
        padding-top: 1em;
        padding-left: 1em;
    }

    .second-container {
        width: 50%;
        padding: 2em;
        padding-top: 3em;
    }

    .select-grid-container {
        grid-template-areas:
        'a b c'
        'd e f';
    }

    .reset {
        margin-top: 4.5em;
    }
}

.attribution {
  display:block;
  margin-top: 7rem;
  text-align: center;
  color:  hsl(186, 14%, 43%);
}

.attribution a {
  text-decoration: underline;
  color:blue;
}
